*.bin

CMakeUserPresets.json
build
.cache
llvm-project/
.idea
data/mnist-784-30-10-raw/
data/mnist-784-30-10.safetensors
data/mnist-784-30-10-training.safetensors
data/nielsen-cnn-relu.safetensors
data/nielsen-cnn-trained-1000.safetensors
data/nielsen-cnn-training-1000.safetensors
data/nielsen-cnn-trained-full.safetensors
